{% extends 'base.html' %}

{% block title %}
북마크 목록
{% endblock %}


{% block content %}

    <div class="btn-group" role="group" aria-label="buttons">
        <a class="btn btn-info" href="{% url 'bookmark:add' %}">북마크 추가</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">NO</th>
            <th scope="col">사이트명</th>
            <th scope="col">URL</th>
            <th scope="col">수정</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
        {% for bookmark in object_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                <a href="{% url 'bookmark:detail' pk=bookmark.id %}">
                    {{bookmark.site_name}}</a>
            </td>
            <td>
                <a href="{{bookmark.url}}" target="_blank">
                    {{bookmark.url}}</a>
            </td>
            <td>
                <a class="btn btn-success" href="{% url 'bookmark:update' pk=bookmark.id %}">수정</a>
            </td>
            <td>
                <a class="btn btn-danger" href="{% url 'bookmark:delete' pk=bookmark.id %}">삭제</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if is_paginated %}
        <!-- 페이징값이 있기 때문에 페이징 처리를 해야 함 -->

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'bookmark:list' %}?page={{page_obj.previous_page_number}}">이전</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">이전</a></li>
                {% endif %}

                {% for page in page_obj.paginator.page_range %}
                    {% if page_obj.number == page %}
                        <li class="page-item active"><a class="page-link" href="#">{{page}}</a></li>
                    {% else %}
                        <li class="page-item "><a class="page-link" href="{{request.path}}?page={{page}}">{{page}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'bookmark:list' %}?page={{page_obj.next_page_number}}">다음</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">다음</a></li>
                {% endif %}

            </ul>
        </nav>

    {% endif %}


{% endblock %}


